<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="primary">
                <p class="text-faded">
                    I'm currently a software developer, former e-commerce investigator, and horticulture enthusiast.
                    I have spent the last few months refining my skills on JavaScript, React.js, and Python at App Academy.
                    I am interested in crypto-currencies and peer to peer technologies.
                </p>
                <p class="text-faded">
                    I recently graduated an immersive web development course at App Academy,
                    an intensive coding bootcamp program with less than 5% acceptance rate.
                    While enrolled, I built several responsive single-page applications using back-end Flask RestX and React.js for the front-end.
                    I've designed postgreSQL databases with sequelize and alembic to custom front end grid layouts using CSS.
                </p>
                <p class="text-faded">
                    I am a geek at heart. A historian and cultural enthusiast.
                    For fun, I enjoy casual video games, the outdoors, meditation, and learning Irish through traditional folk music.
                    Go dtí an chéad uair eile, bíodh lá iontach agat!
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
            <div class="col-lg-3 text-center">
                <span class="profile-pic">
                    <img src="../img/portfolio/aaron-bruce-pic.jpg" alt="profile-pic">
                </span>
                <div style="margin-top: 10px;">
                    <a class="profile-link fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" href="mailto:{{ site.email }}"></a>
                </div>
                <div>
                    <a class="profile-link fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s" href="https://linkedin.com/in/{{ site.linkedin_username }}"> /LinkedIn</a>
                </div>
                <div>
                    <a class="profile-link fa fa-angellist fa-3x wow bounceIn" data-wow-delay=".1s" href="https://angel.co/u/{{ site.angel_username }}"> /AngelList</a>
                </div>
                <div>
                    <a class="profile-link fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s" href="https://github.com/{{ site.github_username }}"> /GitHub</a>
                </div>
                <div>
                    <a class="profile-link fa fa-file-pdf fa-3x wow bounceIn" data-wow-delay=".1s" href="../img/portfolio/Aaron_Bruce_Resume.pdf"></a> /Resume</a>
                </div>
            </div>
        </div>
    </div>
</section>
