<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Portfolio</h2>
        <hr class="primary" />
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          href="https://github.com/AaronTheBruce/pocket-broker-front-end"
          class="portfolio-box"
        >
          <img
            src="img/portfolio/Pocket-Broker.png"
            class="img-responsive"
            alt="pocket-broker-image"
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Solo Project</div>
              <div class="project-name">Pocket Broker</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="https://github.com/AaronTheBruce/Tarot" class="portfolio-box">
          <img
            src="img/portfolio/tarot-spread-app.png"
            class="img-responsive"
            alt="tarot-spread-image"
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Solo Project</div>
              <div class="project-name">Tarot Spread App</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          href="https://github.com/arsentieva/maximum/tree/master/documentation"
          class="portfolio-box"
        >
          <img
            src="img/portfolio/maximum.png"
            class="img-responsive"
            alt="maximum-stories-image"
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Group Project</div>
              <div class="project-name">Maximum</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          href="https://github.com/arsentieva/campy-frontend"
          class="portfolio-box"
        >
          <img
            src="img/portfolio/campy-home.JPG"
            class="img-responsive"
            alt="campy-home-image"
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Group Project</div>
              <div class="project-name">Campy</div>
            </div>
          </div>
        </a>
      </div>
      <!-- <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
    </div>
  </div>
</section>
